.card {
  display: grid;
  grid-template-columns: 1fr 3fr;
  border-radius: 15px;
  max-width: 865px;
  background-color: var(--color-secondary1);
}

.card p {
  padding-left: 30px;
}

.name {
  padding-left: 30px;
}

.cardwrapper {
  container: card / inline-size;
}

img {
  padding-left: 15px;
  padding-top: 15px;
}

.buttons {
  text-align: center;
}

.buttons p {
  padding-left: 10px;
  font-family: var(--font-display);
  padding: 1px;
}

.buttons button {
  padding: 10px;
  border-radius: 15px;
  border: none;
  background-color: var(--color-accent2);
  font-family: var(--font-paragraph);
  color: var(--color-primary1);
}

@container card (max-width:340px) {
  .card {
    display: grid;
    grid-template-columns: 1fr;
  }

  .buttons {
    order: 2;
  }
}

@container card (min-width:340px) {
  .card {
    display: grid;
    grid-template-columns: 1fr 3fr;
  }

  .name {
    grid-column: 2/3;
    grid-row: 1;
  }

  p {
    grid-column: 1/4;
    grid-row: 2;
  }
  .buttons {
    grid-row: 3;
  }

  img {
    width: 100%;
  }
}

@container card (min-width:515px) {
  .card {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
  img {
    grid-column: 1/2;
    grid-row: 1/3;
  }
  p {
    grid-column: 2/4;
    grid-row: 2/4;
  }
}

@container card (min-width:690px) {
}
